.titolo {
    text-align: center;
}

.div_form {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.div_dati {
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}